// Estilos para el carrito de compras
$color-primario: #161a1d;
$color-secundario: #151213;
@import "~bootstrap/scss/bootstrap";
.cardDR {
    width: 100%;
  }
.cardDR h1{
    text-align: center;  
}
.cardDR p{
    text-align: center;
}
.cardD{
    display: flex;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
}
.cardD .img{
    align-items: center;
    width: 250px;
    height: 350px;
}
.bu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-left: 2rem;
  }
  
  
